.root {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  box-shadow: 24px;
  border: solid 0px transparent;
  border-radius: 4px;
}
